.opcao{
    height: 180px;
    padding: 0;
    width: 1000px;

}
.pedra {
    width: 170px;
}
.tesoura {
    width: 170px;
    position: relative;
    top: -349px;
    left: 360px; 
}
.papel {
    top: -177px;
    width: 170px;
    position: relative;
    left: 190px;
}
button { 
    padding: 6px;
    margin: 0 22px;
    position: relative;
    left: 122px;
}